<h2>Thank you</h2>
<div class="panel panel-default">
	<div class="panel-body">
		<p>We have received your message and will respond as soon as possible.</p>
		<%= link_to "<< Back to Home", root_path %>
	</div>
</div>

