// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product{
	margin-bottom: 40px;
}

.product p{
	display: block;
	min-height: 140px;
	max-height: 140px;

	overflow: hidden;
	text-overflow: ellipsis;
}