// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product{
	margin-bottom: 40px;
}

.product p{
	display: block;
	min-height: 140px;
	max-height: 140px;

	overflow: hidden;
	text-overflow: ellipsis;
}

.pull-right.srch_form{
	margin-top: 26px;
}


.input-group-addon.srch,
.glyphicon-search{    
    z-index: 2;
    float: right;
    position: relative;
    height: 34px;
}

.input-group-addon.srch{
	opacity: 0;
	margin-top: -34px;
	margin-right: -21px;
}

.glyphicon-search{
	margin-top: -26px;
	margin-right: 7px;
}

.col-xs-12 .srch_form .form-control{
	padding-right: 47px;
}

.srch_form .input-group{
	float: right;
}
