// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a,
a:hover,
a:visited{
  outline: none;
  text-decoration: none;
}

body {
  padding-top: 51px;  
  color: #333;
}

html, body{
	height: 100%;
}

.logo{
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1.1px;
}

.logo>img{
  margin-top: -2px;
}

.hName{
  text-transform: uppercase;
}

.login{
  margin-left: 40px;
  color: white;
  line-height: 49px;

  text-transform: uppercase;
}

.page-container{
	min-height: 100%;
	height: auto !important;
	height: 100%;

	margin-bottom: -200px;
}

.footer-push, .footer {
    height: 210px;
    margin: 0;
    padding: 0;
}

.footer{
  padding: 30px;
  padding-bottom: 10px;

  background-color: #333;
  color: white;
}

.footer h6{
  text-transform: uppercase;
  text-align: center;
}

.footer{
  font-size: 12px;
  text-align: center;
}

.footer .row{
  margin-bottom: 20px;
}

.footer *{
  color: white !important;
}

.footerQ{
  list-style: none;
  text-align: center;

  padding: 0px;

  letter-spacing: 1px;
}

.footer div.col-md-3{
  text-align: center;
}

.followUs h6{
    margin-bottom: 24px;
}

.subscribe input{
  width: 100%;
  border: none;

  padding: 5px 5px;
  margin: 5px 0px;

  color: #333 !important;
}

.subscribe button{
  background: #ccc;
  padding: 5px 15px;

  border: none;
  margin-top: 5px;
  color: #333 !important;
  font-weight: bold;
}

.soc a{
    font-style: normal;
    font-weight: 400;
    box-sizing: border-box;
    
    text-decoration: none;
    text-align: center;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    
    border-radius: 0px;
    
    color: #ffffff;
    background-color: #cdcdcd;
}

.contacts span{
  text-transform: uppercase;
}

h1, h2, h3{
	color: #333;
}

.nav>li>a{
	color: #333;
}

.nav>li.active>a{
	font-weight: bold;
}

.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

.navbar-default{
	background-color: #333;	
}

.navbar-default .navbar-brand{
	color: white;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}


/* thumbnail */

.thumbnail{
	border: none;
	border-radius: none;
	padding: 0px;
}

.mainTopics{
  margin-top: 20px;
}

.mainTopics h4{
  text-align: center;
}

.mainTopics div{
  text-align: justify;
}

.mainTopics div img{
  display: block;
  margin: auto;

}

/**/

